
.make-grid-columns(){

  .col(@index){
    @item:~".pk-col-xs-@{index}, .pk-col-sm-@{index}, .pk-col-md-@{index}, .pk-col-lg-@{index}";
    .col((@index + 1),@item);
  }
  .col(@index,@list) when (@index =< @grid-columns){
    @item:~".pk-col-xs-@{index}, .pk-col-sm-@{index}, .pk-col-md-@{index}, .pk-col-lg-@{index}";
    .col((@index + 1),~"@{list}, @{item}");
  }
  .col(@index,@list) when (@index > @grid-columns ){
    @{list}{
      position: relative;
      min-height: 1px;
      float: left;
    }
  }
  .col(1);
}

.make-grid(@class){
  .loop-grid-column(@grid-columns,@class,width);
  .loop-grid-column(@grid-columns,@class,offset);
}
.loop-grid-column(@index,@class,width) when (@index > 0) {

  .pk-col-@{class}-@{index}{
    width: percentage(@index / @grid-columns);
    padding: 0 15px;
  }
  .loop-grid-column((@index - 1),@class,width);
}
.loop-grid-column(@index,@class,offset) when (@index > 0) {

  .pk-col-@{class}-offset-@{index}{
    margin-left: percentage(@index / @grid-columns);
  }
  .loop-grid-column((@index - 1),@class,offset);
}