.pk-menu{
  margin:0;
  padding: 0;
  list-style: none;

  & a{
    text-decoration: none;
    color: #000;
  }

  .pk-menu-item{

    margin-top: 2px;
    display: block;

    .box(10px,15px,@base-border-radius);
    border: 1px solid @menu-border-color;                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ;

    .transition(~"0.3s");

    &:hover,
    &.active{
      margin-left: 10px;
      background-color: #F5F5F5;
    }

  }
}

.pk-menu-cd{
  margin:0;
  padding: 0;
  list-style: none;
}